SpeechRecognition==3.14.3
PyDictionary==2.0.1
youtube-search==2.1.2
python-dotenv==1.2.1
dateparser==1.1.8
win10toast==0.9
yt-dlp==2025.1.26
mutagen==1.47.0
pyautogui==0.9.54
pycaw==20251023
screen-brightness-control==0.24.2
pywin32==308
google-generativeai==0.8.5
openmeteo-requests==1.7.4
newsapi-python==0.2.7